<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Pencil</a>
    <button (click) = "toggleNavbar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" [class.show] = "isOpen" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button class=" btn btn-primary" *ngIf = "!isUser" (click) = "login()">Login with Google</button>
        </li>   
        <li class="nav-item" *ngIf = "isUser">
            <a class="nav-link" *ngIf = "isUser" routerLink = "/home" routerLinkActive = "active">Home</a>
        </li>
        <li>
            <button class=" btn btn-danger" *ngIf = "isUser" (click) = "logout()">Logout</button>
        </li>
      </ul>
      
    </div>
  </nav>
  <div *ngIf = "!isUser">
  <p>WELCOME TO PENCIL, PLEASE LOGIN TO START EDITING!</p>
  </div>